$bgcolor: pink;

body{
    background-color:pink;
    .form{
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        .fieldset{
            color: aqua;
        }

    }
}